<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowDpto</servlet-name>
        <servlet-class>Control_vistas.ShowDpto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMun</servlet-name>
        <servlet-class>Control_vistas.ShowMun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPer</servlet-name>
        <servlet-class>Control_vistas.ShowPer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadDpto</servlet-name>
        <servlet-class>Control_vistas.ReadDpto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadPer</servlet-name>
        <servlet-class>Control_vistas.ReadPer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadDptoa2</servlet-name>
        <servlet-class>Control_vistas.ReadDptoa2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePer</servlet-name>
        <servlet-class>Control_vistas.CreatePer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowDpto</servlet-name>
        <url-pattern>/jsp/RF1/ShowDpto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDpto</servlet-name>
        <url-pattern>/jsp/RF2/ShowDpto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPer</servlet-name>
        <url-pattern>/ShowPer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadDpto</servlet-name>
        <url-pattern>/jsp/RF1/ReadDpto.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMun</servlet-name>
        <url-pattern>/jsp/RF1/ShowMun.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadDptoa2</servlet-name>
        <url-pattern>/jsp/RF2/ReadDptoa2.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePer</servlet-name>
        <url-pattern>/jsp/RF1/CreatePer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadPer</servlet-name>
        <url-pattern>/jsp/RF3/ReadPer.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
